:root{
    --navbar-bg:#2C2929;
    --img-bg:#2F3136;
    --img-text:#f1f2f3;
    --dashbaord-icon:#4f46e5

}

.dashboard-icons{
    color:var(--dashbaord-icon);
   font-size: 24px;
}
.navbar-bg{
    background: var(--navbar-bg);
    padding: 1rem 1rem 0;
}


.user-profile{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-height: 11.938rem;
    object-fit: cover;
}
.qg-gap-5{
    gap: 5rem;
}
.img-category{
    min-width: 15.625rem;
    width: 17.5rem;
    height: 100%;
    border-radius: 10px;
    background: var(--img-bg);
    cursor: pointer;
    min-height: 12.5rem;
}


.img-text{
    position: absolute;
    bottom: 8px;
    color: var(--img-text);
    font-weight: 800;
    padding-left: 10px;
}
.qg-flex-1{
    flex: 1; 
}
.qg-flex-5{
    flex: 5;
}
.qg-flex-2{
    flex: 2;
}
.category-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr) ) ;
    gap:10px;
}

.filter{
    filter: grayscale(100%);
}

@media screen and (max-width:700px) {
  
 .qg-flex-column{
     flex-direction: column;
 }

 .user-profile{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-height: 24.438em;
    object-fit: cover;
}

.qg-gap-5{
    gap:1.5em;
}

.img-category{
    width: 100%;
}

}